"*":
  "exception-reporting":
    userId: "ec600d22-31a4-3015-74ae-c3fecb3d3821"
  welcome:
    showOnStartup: false
  core:
    themes: [
      "one-dark-ui"
      "monokai"
    ]
  editor:
    invisibles: {}
  "git-projects": {}
