"*":
  "atom-pair": {}
  core:
    disabledPackages: [
      "pigments"
      "atom-pair"
      "language-objective-c"
      "language-perl"
      "language-php"
      "language-python"
      "language-java"
      "language-go"
      "language-csharp"
      "language-clojure"
      "language-c"
    ]
    ignoredNames: [
      ".git"
      "*.swo"
      "*.swp"
      "*.swn"
    ]
    themes: [
      "one-dark-ui"
      "monokai"
    ]
  editor:
    fontSize: 15
    invisibles: {}
    tabType: "soft"
  "exception-reporting":
    userId: "97819b7a-541a-69f2-c91f-0277d0771dcf"
  pigments: {}
  "tree-view":
    hideIgnoredNames: true
  welcome:
    showOnStartup: false
  whitespace:
    ignoreWhitespaceOnCurrentLine: false
    removeTrailingWhitespace: true
